{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}


{% block title %} {% translate "Contáctanos" %} {% endblock %}
{% block content %}<div class="row mt-4">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="contact-map">
                                                <iframe src="https://www.google.com/maps/embed/v1/place?q=New+York+University&amp;key=AIzaSyBSFRN6WWGYwmFi498qXXsD2UwkbmD74v4" style="width: 100%; height: 360px; border:0; margin: 0; overflow:hidden;"></iframe>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row justify-content-center mt-4 mb-3">
                                        <div class="col-md-10">
                                            <div class="row mb-4">
                                                <div class="col-sm-12">
                                                    <h4 class="title">Envianos tu mensaje</h4>
                                                    <p class="text-muted sub-title">The clean and well commented code allows easy customization of the theme.It's <br> designed for describing your app, agency or business.</p>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <!-- Contact form -->
                                                <div class="col-sm-6">
                                                    <form name="ajax-form" action="#" method="post" class="contact-form" data-parsley-validate="" novalidate="">

                                                        <div class="form-group">
                                                            <input class="form-control" id="name2" name="name" placeholder="Your name" type="text" value="" required="">
                                                        </div>
                                                        <!-- /Form-name -->

                                                        <div class="form-group">
                                                            <input class="form-control" id="email2" name="email" type="email" placeholder="Your email" value="" required="">
                                                        </div>
                                                        <!-- /Form-email -->

                                                        <div class="form-group">
                                                            <textarea class="form-control" id="message2" name="message" rows="5" placeholder="Message" required=""></textarea>
                                                        </div>
                                                        <!-- /Form Msg -->

                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="">
                                                                    <button type="submit" class="btn btn-primary waves-effect waves-light" id="send">Submit</button>
                                                                </div>
                                                            </div> <!-- /col -->
                                                        </div> <!-- /row -->

                                                    </form> <!-- /form -->
                                                </div> <!-- end col -->

                                                <div class="col-sm-4 offset-sm-1">
                                                    <div class="contact-box">
    
                                                        <div class="contact-detail mb-4">
                                                            <i class="mdi mdi-tooltip-account float-left font-20 mr-2"></i>
                                                            <address class="overflow-hidden">
                                                                C/ Crecia, Nº 5<br>
                                                                Arcos de la Frontera<br>
                                                                Cádiz, España
                                                            </address>
                                                        </div>

                                                        <div class="contact-detail mb-4">
                                                            <i class=" mdi mdi-cellphone-iphone float-left font-20 mr-2"></i>
                                                            <p class="overflow-hidden pt-1">
                                                                (+34) 653844637
                                                            </p>
                                                        </div>

                                                        <div class="contact-detail">
                                                            <i class="mdi mdi-email float-left font-20 mr-2"></i>
                                                            <p class="overflow-hidden pt-1">
                                                                <a href="">adeka@arcoslive.com</a>
                                                            </p>
                                                        </div>

                                                    </div>
                                                </div> <!-- end col -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end row -->
                                </div>
                            </div>
                        </div>
{% endblock %}
